html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.btn-custom {
    background-color: #3973ac;
    border-color: #3973ac;
    color: white; 
}

    .btn-custom:hover {
        background-color: #264d73;
        border-color: #264d73;
        color: white;
    }

.custom-green {
    background-color: #3E8056;
    border-color: #3E8056;
    color: white;
}

    .custom-green:hover {
        background-color: #426B52;
        border-color: #426B52;
        color: white;
    }

.custom-blue {
    background-color:#354C69; 
    border-color: #354C69;
    color: white
}

.custom-purple {
    background-color: #735394;
    border-color: #735394;
    color: white
}